@font-face {
    font-family: Fahkwang;
    src: url(Fahkwang-Regular-400.ttf);
}

* { 
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #312C30;
    font-size: 20px
}

/* NAVIGATION BAR STYLING */
nav {
    height: 10vh;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3%;
}

nav a {
    font-size: 18px;
    color: #312C30;
    text-decoration: none;
    font-weight: 600;
}

#kuramoto {
    float: left;
}

#about {
    float: right;
}

/* HOME PAGE -- BODY CONTENT STYLING */
h1 {
    /* font-family: 'Fahkwang', sans-serif; */
    font-family: Fahkwang;
    font-weight: 600;
    font-size: 72px;
    /* color: #7B9741; */
}

.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#description {
    font-size: 24px;
}

#casestudy {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#info {
    width: 48%;
    padding-right: 1%;
    float: left;
}

#portfolio {
    width: 48%;
    padding-right: 1%;
    float: left;
    overflow-y: scroll;
    height: 55vh;
    scroll-snap-type: y mandatory;
}

#portfolio::-webkit-scrollbar {
    display: none; 
}

#portfolio img {
    max-width: 95%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    scroll-snap-align: start;
}

#indicator {
    width: 2%;
    float: right;
}

#sellinglater-indicator, 
#xpresso-indicator, 
#tartordle-indicator, 
#dei-indicator {
    border-radius: 25px;
    background: #BBBCBC;
    padding: 3px; 
    width: 4px;
    height: 16px; 
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

/* ABOUT PAGE -- BODY CONTENT STYLING */
h2 {
    font-family: 'Fahkwang', sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #312C30;
}

#bio {
    width: 100%;
    height: 90vh;
}

#bio-img {
    width: 32%;
    float: left;
}

#bio-text {
    width: 58%;
    float: right;
    font-size: 18px;
}

#work {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#work {
    border-left: 2px solid #312C30;
}

#work table {
    position: relative;
}

#work td {
    padding-bottom: 60px;
    padding-left: 20px;
}

.timeline {
    border-radius: 25px;
    background: #BBBCBC;
    padding: 3px; 
    width: 12px;
    height: 4px; 
    position: relative;
    left: -33px;
    bottom: -28px;
}

.date {
    font-size: 14px;
}

.company {
    font-family: 'Fahkwang', sans-serif;
    font-size: 32px;
}

.job {
    font-size: 18px;
    font-style: italic;
}

.about-description {
    font-size: 16px;
}

#costar .timeline {
    background: #2152A1;
}

#costar .company {
    color: #2152A1;
}

#onecommons .timeline {
    background: #62B6EA;
}

#onecommons .company {
    color: #62B6EA;
}

#csacademy .timeline {
    background: #5E54DF;
}

#csacademy .company {
    color: #5E54DF;
}

#cmu .timeline {
    background: #A6192E;
}

#cmu .company {
    color: #A6192E;
}

/* CASE PAGE -- BODY CONTENT STYLING */
.case-menu {
    width: 25%;
    float: left;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.case-menu li {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    left: -40px;
    list-style: none;
    font-size: 18px;
}

.case-menu a {
    text-decoration: none;
}

#case-description {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70%;
    float: left;
}

#case-description h3 {
    font-family: 'Fahkwang', sans-serif;
    font-weight: 600;
    font-size: 48px;
    padding-bottom: 40px;
}

#case-description p, #case-description u {
    font-size: 24px;
    font-weight: 300;
}

#roles {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 30%;
    float: left;
}

#roles h4 {
    font-size: 24px;
    font-weight: 500;
    padding-left: 100px;
    margin: 0px;
}

#roles p {
    font-size: 24px;
    font-weight: 300;
    padding-left: 100px;
    padding-bottom: 30px;
}

#prototype {
    margin: auto;
}

#process {
    width: 75%;
    float: right;
}

.process-step {
    font-size: 24px;
    margin-bottom: 100px;
    float: left;
}

.process-heading {
    font-family: 'Fahkwang', sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.process-stat {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#stat {
    font-size: 72px;
    color: #7B9741;
}

#stat-description {
    text-align: left;
    padding-left: 10px;
}

#problems {
    background-color: #F1F0F0;
    border-radius: 25px;
    width: 36%;
    float: left;
    padding: 40px;
}

#problems ul, #solutions ul {
    display: inline;
}

#solutions {
    background-color: #F1F0F0;
    border-radius: 25px;
    width: 36%;
    float: left;
    padding: 40px;
}

#arrow {
    display: inline;
    width: 5%;
    height: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
    float: left;
}

#iterations-nav {
    float: left;
}

#iterations-nav img {
    max-width: 90%;
    height: auto;
}

#iterations-nav p {
    display: block;
    font-weight: 500;
    padding-top: 20px;
}

.iteration-subtitle {
    font-size: 14px;
    text-align: center;
}

.next-project {
    width: 20%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 100px;
}

.next-project p:nth-child(2) {
    background-color: #F1F0F0;
    border-radius: 15px;
    padding: 20px;
}

.next-project-name {
    font-family: 'Fahkwang', sans-serif;
    font-size: 30px;
}

#sellinglater-next {
    color:#765E4F;
}

#xpresso-next {
    color:#C3354A;
}

#tartordle-next {
    color:#A6192E;
}

#dei-next {
    color:#7B9741;
}

/* SELLING LATER PAGE -- BODY CONTENT STYLING */
#sellinglater-left{
    width: 100%;
    height: 100vh;
    background-color: #7B9741;
    z-index: 1;
    animation: 1.5s ease-out 0s 1 slideInLeft;
}

#sellinglater-title {
    color: #F9F9F9;
    padding-left: 100px;
    font-size: 72px;

}

#sellinglater-cover {
    position: relative;
    top: -160px;
    left: 550px;
}

#sellinglater-left nav a {
    color: #F9F9F9;
}

#sellinglater-sitemap {
    display: block;
    padding: 20px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* XPRESSO PAGE -- BODY CONTENT STYLING */
#xpresso-left{
    width: 100%;
    height: 100vh;
    background-color: #A38979;
    z-index: 1;
    animation: 1.5s ease-out 0s 1 slideInLeft;
}

#xpresso-title {
    color: #FFFFFF;
    padding-left: 200px;
    font-size: 72px;

}

#xpresso-cover {
    position: relative;
    left: 600px;
    top: -100px;
}

#xpresso-left nav a {
    color: #FFFFFF;
}

.process-changes {
    table-layout: fixed;
    width: 30%;
    border-collapse: collapse;
    float: left;
    margin: 10px;
}

.process-changes th {
    padding: 15px;
    background: #F1F0F0;
}

.process-changes .design {
    padding-top: 20px;
    font-weight: 600;
    vertical-align: text-top;
    border-radius: 25px 25px 0 0;
}

.process-changes .page {
    padding-bottom: 20px;
}

.process-changes .rationale {
    font-size: 16px;
    vertical-align: text-top;
    border-radius:  0 0 25px 25px;
}
.design-guide-color {
    color: #E6E5E0;
    width: 20%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

#dark-brown {
    background-color: #361706;
}

#light-brown {
    background-color: #7A5D4D;
}

#grey-brown {
    background-color: #94877E;
}

#yellow {
    background-color: #E1AF48;
}

#off-white {
    color: #361706;
    background-color: #E6E5E0;
}

.heuristic-evaluations {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.heuristic-evaluations td {
    width: 50%;
}

.heuristic-evaluations :nth-child(1) {
    padding-bottom: 20px;
}

.evaluation {
    font-weight: 500;
}

.solution {
    vertical-align: text-top;
}

#xpresso-final {
    max-width: 100%;
    height: auto;
}

#xpresso-final:hover {
    transform: scale(1.02);
}

#design-guide-title {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 36px;
    color: #361706;
}

#design-guide-subheading {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    color: #361706;
}

#design-guide-body {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: #361706;
}

/* TARTORDLE PAGE -- BODY CONTENT STYLING */
#tartordle-left{
    width: 100%;
    height: 100vh;
    background-color: #C3354A;
    z-index: 1;
    animation: 1.5s ease-out 0s 1 slideInLeft;
}

#tartordle-title {
    color: #FFFFFF;
    padding-left: 275px;
    font-size: 72px;
}

#tartordle-cover {
    position: relative;
    top: -140px;
    left: 620px;
}

#tartordle-left nav a {
    color: #FFFFFF;
}

#tartordle-final {
    max-width: 100%;
    height: auto;
}

#tartordle-accesibility {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* DEI PAGE -- BODY CONTENT STYLING */
#dei-left{
    width: 100%;
    height: 100vh;
    background-color: #A6192E;
    z-index: 1;
    animation: 1.5s ease-out 0s 1 slideInLeft;
}

#dei-title {
    color: #FFFFFF;
    padding-left: 100px;
    font-size: 72px;
}

#dei-cover {
    position: relative;
    top: -160px;
    left: 650px;
}

#dei-left nav a {
    color: #FFFFFF;
}

.dei-personas {
    padding: 20px;
    width: 28%;
}

#dei-design-img {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.dei-design {
    padding-left: 40px;
    padding-right: 40px;
    width: 35%;
}

#dei-final {
    max-width: 90%;
    height: auto;
}
#dei-final:hover  {
    transform: scale(1.02);
}

@media only screen and (max-width: 480px) {
    * {
        font-size: 14px;
    }

    nav a {
        font-size: 14px;
    }

    h1, h2 {
        font-size: 36px;
    }

    #info {
        width: 90%;
        float: left;
    }

    #portfolio {
        margin-top: 20px;
        width: 90%;
        float: left;
        overflow-y: scroll;
        height: 25vh;
        scroll-snap-type: y mandatory;
    }

    #indicator {
        margin-top: 20px;
    }

    #description {
        font-size: 14px;
    }

    #casestudy {
        padding: 10px 15px;
    }

    #sellinglater-left, #xpresso-left, #tartordle-left, #dei-left {
        height: 75vh;
    }

    #sellinglater-title, #xpresso-title, #tartordle-title, #dei-title {
        font-size: 36px;
        padding-left: 0px;
        text-align: center;
    }

    #sellinglater-cover, #xpresso-cover, #tartordle-cover, #dei-cover {
        max-width: 80%;
        height: auto;
        position: static;
        padding-left: 30px;
    }

    .content {
        max-width: 90%;
    }

    #case-description {
        width: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #case-description h3 {
        font-size: 24px;
        padding-bottom: 20px;
    }

    #case-description p, #case-description u {
        font-size: 16px;
    }

    #roles {
        width: 100%;
        padding-top: 0px;
    }

    #roles h4 {
        font-size: 18px;
        padding-left: 0px;
        text-align: center;
    }

    #roles p {
        font-size: 14px;
        padding-left: 0px;
        padding-bottom: 0px;
        text-align: center;
    }

    .case-menu {
        display: none;
    }

    #process {
        width: 100%;
        float: none;
    }

    .process-step {
        margin-bottom: 20px;
    }

    .next-project {
        width: 40%;
    }

    #sellinglater-next, #xpresso-next, #tartordle-next, #dei-next {
        font-size: 18px;
        padding: 10px;
    }

    /* SELLING LATER PAGE -- BODY CONTENT STYLING */
    #problems-solutions .process-description {
        max-width: 80%;
    }

    .process-heading {
        font-size: 24px;
    }

    #stat {
        font-size: 36px;
    }

    #problems, #solutions {
        width: 90%;
        padding: 30px;
    }

    #solutions {
        margin-top: 10px;
    }

    #arrow {
        display: none;
    }

    .iteration-subtitle {
        font-size: 10px;
    }

    #prototype {
        width: 267px;
        height: 150px;
    }

    /* XPRESSO PAGE -- BODY CONTENT STYLING */
    .process-changes {
        width: 90%;
    }

    #problems-solutions .process-description {
        max-width: 80%;
    }

    .design-guide-color {
        font-size: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #heuristic-evaluation-img0 {
        width: 200px;
        height: auto;
    }

    #heuristic-evaluation-img1 {
        width: 200px;
        height: auto;
    }

    #heuristic-evaluation-img2 {
        width: 200px;
        height: auto;
    }

    .solution {
        font-size: 10px;
        padding-left: 5px;
    }

    .heuristic-evaluations {
        margin-top: 20px;
        margin-bottom: 0px;
    }

     /* DEI PAGE -- BODY CONTENT STYLING */
    .dei-personas {
        width: 80%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .dei-design {
        width: 80%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 0px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    * {
      font-size: 16px;
    }

    nav a {
        font-size: 16px;
    }

    h1, h2 {
        font-size: 48px;
    }

    #info {
        width: 90%;
        float: left;
    }

    #portfolio {
        margin-top: 20px;
        width: 90%;
        float: left;
        overflow-y: scroll;
        height: 35vh;
        scroll-snap-type: y mandatory;
    }

    #indicator {
        margin-top: 20px;
    }

    #description {
        font-size: 16px;
    }

    #sellinglater-left, #xpresso-left, #tartordle-left, #dei-left {
        height: 100vh;
    }

    #sellinglater-title, #xpresso-title, #tartordle-title, #dei-title {
        font-size: 48px;
        padding-left: 0px;
        text-align: center;
    }

    #sellinglater-cover {
        max-width: 80%;
        height: auto;
        position: static;
        padding-left: 50px;
    }

    #xpresso-cover, #tartordle-cover, #dei-cover {
        max-width: 80%;
        height: auto;
        position: static;
        padding-left: 100px;
    }

    #case-description, #roles {
        width: 50%;
        float: left;
    }

    #roles {
        padding-top: 380px;
    }

    .process-step {
        margin-bottom: 50px;
    }

    .next-project {
        width: 30%;
        margin-left: 300px;
    }

    #sellinglater-next, #xpresso-next, #tartordle-next, #dei-next {
        font-size: 24px;
        padding: 15px;
    }

    /* SELLING LATER PAGE -- BODY CONTENT STYLING */
    #problems, #solutions {
        width: 65%;
        padding: 30px;
    }

    #solutions {
        margin-top: 20px;
    }

    #arrow {
        display: none;
    }

    #prototype {
        width: 400px;
        height: 225px;
    }

    /* XPRESSO PAGE -- BODY CONTENT STYLING */
    .process-changes {
        width: 90%;
    }

    .design-guide-color {
        font-size: 10px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #heuristic-evaluation-img0 {
        width: 200px;
        height: auto;
    }

    #heuristic-evaluation-img1 {
        width: 200px;
        height: auto;
    }

    #heuristic-evaluation-img2 {
        width: 200px;
        height: auto;
    }

    /* DEI PAGE -- BODY CONTENT STYLING */
    .dei-personas {
        width: 80%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .dei-design {
        width: 80%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 0px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .content {
        max-width: 90%;
    }

    #portfolio {
        margin-top: 8%;
        width: 48%;
        padding-right: 1%;
        float: left;
        overflow-y: scroll;
        height: 34vh;
        scroll-snap-type: y mandatory;
    }
    
    #portfolio::-webkit-scrollbar {
        display: none; 
    }

    #indicator {
        margin-top: 8%;
    }

    #sellinglater-left, #xpresso-left, #tartordle-left, #dei-left {
        height: 100vh;
    }

    #sellinglater-title, #xpresso-title, #tartordle-title, #dei-title {
        padding-left: 0px;
        text-align: center;
    }

    #sellinglater-cover, #xpresso-cover, #tartordle-cover, #dei-cover {
        max-width: 50%;
        height: auto;
        position: static;
        padding-left: 250px;
    }

    .next-project {
        width: 30%;
        margin-left: 400px;
    }

    /* SELLING LATER PAGE -- BODY CONTENT STYLING */
    #problems, #solutions {
        width: 35%;
        padding: 30px;
    }

    #prototype {
        width: 600px;
        height: 300px; 
    }

    /* XPRESSO PAGE -- BODY CONTENT STYLING */
    .design-guide-color {
        font-size: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    #heuristic-evaluation-img0 {
        width: 300px;
        height: auto;
    }

    #heuristic-evaluation-img1 {
        width: 300px;
        height: auto;
    }

    #heuristic-evaluation-img2 {
        width: 300px;
        height: auto;
    }

    /* DEI PAGE -- BODY CONTENT STYLING */
    .dei-personas {
        width: 40%;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .dei-design {
        width: 40%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 0px;
    }
}