* { 
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #312C30;
}

/* NAVIGATION BAR STYLING */
nav {
    height: 10vh;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3%;
    font-size: 24px;
}

nav a {
    color: #312C30;
    text-decoration: none;
    font-weight: 500;
}

#kuramoto {
    float: left;
}

#about {
    float: right;
}

/* HOME PAGE -- BODY CONTENT STYLING */
h1 {
    font-family: 'Fahkwang', sans-serif;
    font-weight: 600;
    font-size: 72px;
    /* color: #7B9741; */
}

.content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#description {
    font-size: 24px;
}

#casestudy {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#info {
    width: 48%;
    padding-right: 1%;
    float: left;
}

#portfolio {
    width: 48%;
    padding-right: 1%;
    float: left;
    overflow-y: scroll;
    height: 53vh;
    scroll-snap-type: y mandatory;
}

#portfolio::-webkit-scrollbar {
    display: none; 
}

#portfolio img {
    height: 50vh;
    width: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    scroll-snap-align: start;
}

#indicator {
    width: 2%;
    float: right;
}

#sellinglater-indicator, 
#xpresso-indicator, 
#tartordle-indicator, 
#dei-indicator {
    border-radius: 25px;
    background: #BBBCBC;
    padding: 3px; 
    width: 4px;
    height: 16px; 
}

#left{
    width: 100%;
    height: 100vh;
    background-color: #7B9741;
    z-index: 1;
    animation: 1.5s ease-out 0s 1 slideInLeft;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      /* display: contents; */
    }
    50% {
        transform: translateX(0);
        /* display: contents; */
    }
    100% {
        transform: translateX(100%);
    }
}

/* ABOUT PAGE -- BODY CONTENT STYLING */
h2 {
    font-family: 'Fahkwang', sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: #312C30;
}

#bio {
    width: 100%;
    height: 90vh;
}

#bio-img {
    width: 32%;
    float: left;
}

#bio-text {
    width: 58%;
    float: right;
    font-size: 18px;
}

#work {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#work {
    border-left: 2px solid #312C30;
}

#work table {
    position: relative;
}

#work td {
    padding-bottom: 60px;
    padding-left: 20px;
}

.timeline {
    border-radius: 25px;
    background: #BBBCBC;
    padding: 3px; 
    width: 12px;
    height: 4px; 
    position: relative;
    left: -33px;
    bottom: -28px;
}

.date {
    font-size: 14px;
}

.company {
    font-family: 'Fahkwang', sans-serif;
    font-size: 32px;
}

.job {
    font-weight: 500;
    font-size: 18px;
}

.description {
    font-size: 14px;
}

#costar .timeline {
    background: #2152A1;
}

#costar .company {
    color: #2152A1;
}

#onecommons .timeline {
    background: #62B6EA;
}

#onecommons .company {
    color: #62B6EA;
}

#csacademy .timeline {
    background: #5E54DF;
}

#csacademy .company {
    color: #5E54DF;
}

#cmu .timeline {
    background: #A6192E;
}

#cmu .company {
    color: #A6192E;
}

/* CASE PAGE -- BODY CONTENT STYLING */
#cover {
    position: relative;
    top: -160px;
    left: 550px;
}

#description {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 70%;
    float: left;
}

#description h3 {
    font-family: 'Fahkwang', sans-serif;
    font-weight: 600;
    font-size: 48px;
    padding-bottom: 40px;
}

#description p {
    font-size: 24px;
    font-weight: 300;
}

#roles {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 30%;
    float: left;
}

#roles h4 {
    font-size: 24px;
    font-weight: 500;
    padding-left: 100px;
    margin: 0px;
}

#roles p {
    font-size: 24px;
    font-weight: 300;
    padding-left: 100px;
    padding-bottom: 30px;
}

#prototype {
    margin: auto;
}