/* NAVIGATION BAR STYLING */
nav {
    font-size: 24px;
    text-align: center;
    background: #361706;
    padding: 2%;
}

#nav-left-align {
    display: inline;
    float: left;
}

#nav-right-align {
    display: inline;
    float: right;
}

#nav-center-align {
    display: inline;
}

#nav-center-align a {
    padding-right: 0.5%;
    padding-left: 0.5%;
}

nav a {
    color: #E6E5E0;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
}

nav a:hover {
    color: #E6E5E0;
    font-family: 'DM Sans', sans-serif;
    text-decoration: 4px dotted underline;
}

#brand {
    color: #E6E5E0;
    font-family: 'Sedgwick Ave', cursive;
    font-size: 30px;
    text-decoration: none;
}

#cart {
    width: 30px;
}

/* HOME PAGE STYLING */
#homepage {
    font-family: 'DM Sans', sans-serif;
    background-image: url('images/homepage.jpg');
    background-size: cover;
    height: 100%;
}

#cta_container {
    width: 40%;
    float: right;
    background: #603F2D;
    margin-top: 12%;
    padding: 3%;
}

#calltoaction {
    font-family: 'Sedgwick Ave', cursive;
    color: #E6E5E0;
    font-size: 24px;
}

#cta_container a {
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    color: #E6E5E0;
    outline: #E6E5E0;
    text-decoration: solid underline #E6E5E0 3px;
}

#why_xpresso {
    font-family: 'DM Sans', sans-serif;
    background-color: #E6E5E0;
    margin-top: 40%;
    padding: 10px;
    margin-bottom: 2%;
}

#why_title {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #603F2D;
}

#why_xpresso table {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 40px 0px;
    margin-bottom: 2%;
    table-layout: fixed;
}

#table_why p {
    color: #603F2D;
}

#table_why td {
    vertical-align: top;
}

.why_image img {
    max-height: 50px;
    height: auto;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.why_reason {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.why_description {
    font-size: 16px;
    text-align: center;
}

/* PRODUCTS PAGE STYLING */
h1 {
    font-size: 40px;
    color: #361706;
    padding-left: 2%;
    padding-top: 2%;
}

.products, .boxes, .about, .checkout {
    font-family: 'DM Sans', sans-serif;
    background-image: url('images/wallpaper.jpg');
    background-size: cover;
    height: 100%;
}

.coffee1, .coffee2, .coffee3, .coffee4 {
    width: auto; 
    max-height: 175px;
    padding: 20px;
}

#table_products {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px 20px;
    margin-bottom: 6%;
}

.product_description p {
    font-family: 'DM Sans', sans-serif;
    color: #361706;
    text-align: center;
}

.product_description a {
    text-decoration: none;
    font-size: 18px;
    color: #361706;
    /* font-weight: bold; */
    display: block;
    text-align: center;
}

.product_description a:hover {
    font-size: 18px;
    text-decoration: 2px dotted underline;
    font-weight: bold;
    display: block;
    text-align: center;
}

.product_name {
    font-weight: bold;
    font-size: 20px;
}

.product_flavors {
    font-size: 14px;
}

.product_price {
    font-size: 16px;
}

/* INDIVIDUAL PRODUCT PAGE STYLING */
/* HTML Breadcrumb from https://www.w3schools.com/howto/howto_css_breadcrumbs.asp */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}
  
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
}
  
ul.breadcrumb li+li:before {
    padding: 8px;
    color: #361706;
    content: "/\00a0";
}
  
ul.breadcrumb li a {
    color: #361706;
    text-decoration: none;
}
  
ul.breadcrumb li a:hover {
    font-weight: bold;
    text-decoration: underline;
}

h1.individualproduct {
    color: #7A5D4D;
}

#individualproduct_content {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

#individualproduct_images {
    width: 48%;
    float: left;
}

#individualproduct_description {
    width: 48%;
    float: right;
}

.coffee_main_1 {
    height: 400px; 
    width: 400px; 
    padding: 20px;
}

.coffee_main_2 {
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 400px;
    padding: 20px;
}

.id1, .id2, .id3 {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    padding: 10px;
}

h2 {
    color: #F5F5F1;
    background-color: #7A5D4D;
    font-family: 'Sedgwick Ave', cursive;
    padding: 10px;
    text-align: center;
}

#individualproduct_description table {
    margin-left: auto;
    margin-right: auto;
}

table#flavor_profile th, td {
    color: #E1AF48;
    font-size: 18px;
}

#flavor_profile td {
    padding: 0 15px;
  }

#flavor_description {
    color: #361706;
    font-size: 18px;
}

#individualproduct_inside {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#individualproduct_price {
    color: #361706;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
}
#label_name {
    color: #7A5D4D;
    font-size: 24px;
    display: inline;
}

#quantity, #ground {
    margin-left: 10px;
    color: #7A5D4D;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}
#number, #ground {
    color: #7A5D4D;
    font-size: 18px;
}

#individualproduct_checkout {
    color: #F5F5F1;
    background-color: #94877E;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    border: none;
    margin-left: 40px;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
}

#individualproduct_boxes {
    color: #361706;
    font-size: 16px;
}

#youmightlike {
    color: #361706;
    background-color: #F5F5F1;
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 1%;
    float: right;
}

#youmightlike p {
    text-align: center;
    font-weight: bold;
}

#table_youmightlike {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px 20px;
    margin-bottom: 2%;
}

.product_like {
    font-size: 18px;
    color: #361706;
}

.product_description a {
    text-decoration: none;
    font-size: 18px;
    color: #361706;
    display: block;
    text-align: center;
}

.youmightlike_products a {
    display: block;
    text-align: center;
    color: #361706;
    text-decoration: none;
}

.youmightlike_products a:hover {
    display: block;
    text-align: center;
    text-decoration: 2px dotted underline ;
}

#ground_info {
    margin: 20px;
}

#label_name {
    text-align: right;
}

/* BOXES PAGE STYLING */
#table_box {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px 20px;
    margin-bottom: 2%;
}

#table_box td {
    border-spacing: 20px 20px;
    outline: 2px #361706 dotted;
}

#table_box p {
    text-align: center;
    color: #361706;
    font-size: 18px;
}

#table_box a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #361706;
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

.coffee1_box, .coffee2_box, .coffee3_box, .mug_box, .straw_box {
    height: auto; 
    width: auto; 
    max-height: 175px;
    padding: 20px;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    color: #361706;
    padding-left: 2%;
    padding-top: 2%;
}

#table_subscription {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 90px 20px;
    margin-bottom: 6%;
}

.subscription_price {
    font-size: 30px;
    font-weight: bold;
    color: #361706;
    text-align: center;
    padding-bottom: 4px;
}

.subscription_rate {
    font-size: 16px;
    color: #361706;
    text-align: center;
    padding: 3px;
}

#table_subscription a {
    text-decoration: none;
    font-size: 18px;
    color: #F5F5F1;
    background-color: #603F2D;
    display: block;
    text-align: center;
    padding: 10px;
}

#table_subscription td {
    background-color: #F5F5F1;
    outline: 2px #94877E solid;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

#table_subscription th {
    font-size: 24px;
    font-weight: normal;
    color: #F5F5F1;
    background-color: #94877E;
    text-align: center;
    padding: 15px;
}

/* ABOUT PAGE STYLING */
#table_about_1 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px 0px;
    margin-top: 3%;
    margin-bottom: 3%;
}

#table_about_2 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 50px 0px;
    margin-bottom: 6%;
}

#table_about_1 td {
    padding: 15px;
    width: 48%;
}

#table_about_2 td {
    padding: 40px;
    border-spacing: 20px 20px;
    width: 48%;
}

.about_story {
    font-size: 30px;
    outline: 2px #7A5D4D solid;
    color: #7A5D4D;
    font-weight: normal;
    padding: 15px;
}

.about_description_story {
    background-color: #7A5D4D;
    outline: 2px #7A5D4D solid;
    color: #F5F5F1;
    font-size: 14px;
    text-align: center;
}

.about_mission {
    font-size: 30px;
    outline: 2px #94877E solid;
    color: #94877E;
    font-weight: normal;
    padding: 15px;
}

.about_description_mission {
    background-color: #94877E;
    outline: 2px #94877E solid;
    color: #F5F5F1;
    font-size: 16px;
    text-align: center;
}

.about_coffee {
    font-size: 30px;
    outline: 2px #361706 solid;
    color: #361706;    font-weight: normal;
    padding: 15px;
}

.about_description_coffee {
    background-color: #361706;
    outline: 2px #361706 solid;
    color: #F5F5F1;
    font-size: 16px;
    text-align: center;
}

.about_people {
    font-size: 30px;
    outline: 2px #E1AF48 solid;
    color: #E1AF48;    
    font-weight: normal;
    padding: 15px;
}

.about_description_people {
    background-color: #E1AF48;
    outline: 2px #E1AF48 solid;
    color: #F5F5F1;
    font-size: 16px;
    text-align: center;
}

.table_box p {
    text-align: center;
    color: #361706;
    font-size: 18px;
}

/* CHECKOUT PAGE STYLING */
#checkoutinfo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
}

#checkoutinfo td {
    border: 2px black;
    padding: 10px;
    color: black;
    vertical-align: top;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    color: #361706;
}

#fname, #email, #adr, #city, #state, #zip, 
#cname, #ccnum, #expmonth, #expyear, #cvv  {
    color: black;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

.checkout_button {
background-color: #7A5D4D; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
}

#cart_img {
    max-width: 25px;
    height: auto;
}

#cardinfo td, #cartinfo td{
    font-size: 18px;
    color: #361706;
}

#table_products p {
    vertical-align: bottom;
}

/* PRODUCTS PAGE- FILTER STYLING */
.filterDiv {
    float: left;
    color: #ffffff;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }

  #myBtnContainer {
    width: 96%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #7A5D4D;
    color: white;
  }